<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>chase rensberger</title>
    <script src="https://unpkg.com/htmx.org@1.9.12"></script>
    <script src="index.js"></script>
    <link rel="stylesheet" href="../styles/index.css" />
    <link rel="stylesheet" href="../styles/output.css" />
  </head>

  <body
    class="p-8 bg-neutral-100 dark:bg-neutral-800 space-y-4 text-lg text-black dark:text-white"
  >
    <section class="space-y-2">
      <div class="flex gap-4 items-center">
        <!-- TODO: Get perfect alignment -->
        <h1 class="text-3xl font-bold">chase rensberger</h1>
        <img
          src="../assets/moon.svg"
          alt="Moon icon"
          onclick="toggleDarkMode()"
          id="themeSwitcherIcon"
          class="w-6 h-6 filter dark:invert"
        />
      </div>
      <div>
        <a
          href="https://github.com/ChaseRensberger"
          class="text-blue-500 underline"
          >github</a
        >
        /
        <a
          href="https://www.linkedin.com/in/chaserensberger/"
          class="text-blue-500 underline"
          >linkedin</a
        >
        /
        <a
          href="https://exposed-documents.s3.amazonaws.com/resume.pdf"
          class="text-blue-500 underline"
          >resume</a
        >
      </div>
    </section>
    <section>
      <h1 class="text-red-400">Blog</h1>
    </section>
  </body>
</html>
