<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>chase rensberger</title>
    <script src="https://unpkg.com/htmx.org@1.9.12"></script>
    <script src="../javascript/index.js"></script>
    <link rel="stylesheet" href="../styles/index.css" />
    <link rel="stylesheet" href="../styles/output.css" />
  </head>

  <body
    class="p-8 bg-neutral-100 dark:bg-neutral-800 space-y-4 text-lg text-black dark:text-white"
  >
    <section class="space-y-2">
      <div class="flex gap-4 items-center">
        <!-- TODO: Get perfect alignment -->
        <h1 class="text-3xl font-bold">chase rensberger</h1>
        <img
          src="../assets/moon.svg"
          alt="Moon icon"
          onclick="toggleDarkMode()"
          id="themeSwitcherIcon"
          class="w-6 h-6 filter dark:invert"
        />
      </div>
      <div>
        <a
          href="https://github.com/ChaseRensberger"
          class="text-blue-500 underline"
          >github</a
        >
        /
        <a
          href="https://www.linkedin.com/in/chaserensberger/"
          class="text-blue-500 underline"
          >linkedin</a
        >
        /
        <a
          href="https://exposed-documents.s3.amazonaws.com/resume.pdf"
          class="text-blue-500 underline"
          >resume</a
        >
      </div>
    </section>

    <section class="space-y-2">
      <h2 class="text-2xl font-semibold">about</h2>
      <p>
        i am a software engineer from the east coast of the united states. this
        site is hosted on a raspberry pi in my home office and took
        <span id="loadTime" class="text-green-600 font-medium"></span
        ><span class="text-green-600 font-medium"> milliseconds</span>
        to reach you.
      </p>
    </section>
    <section class="space-y-2">
      <h2 class="text-2xl font-semibold">stuff I am working on</h2>
      <ol>
        <li>
          <a
            href="https://github.com/ChaseRensberger/horizon"
            class="text-blue-500 underline"
            >horizon</a
          >
          <p>
            the data interaction layer of a youtube analytics platform I am
            working on.
          </p>
        </li>
      </ol>
      <ol>
        <li>
          <a
            href="https://github.com/ChaseRensberger/youtube-banner-updater"
            class="text-blue-500 underline"
            >dynamic youtube banner</a
          >
          <p>
            dyanmically update your youtube banner with custom data. system is
            currently live
            <a
              href="https://www.youtube.com/@Lukejtv"
              class="text-blue-500"
              >here</a
            >
          </p>
        </li>
      </ol>
    </section>

    <section class="space-y-2">
      <h2 class="text-2xl font-semibold">
        stuff I haven't worked on in a while
      </h2>
      <ol>
        <li>
          <a
            href="https://github.com/ChaseRensberger/controls_challenge"
            class="text-blue-500 underline"
            >custom self driving vehicle controller</a
          >
          <p>
            just a playground of a bunch of car controller algorithms i
            implemented to try and minimize target lateral velocity error based
            on an input steering angle at each time interval.
          </p>
        </li>
        <li>
          <a
            href="https://github.com/ChaseRensberger/calib_challenge"
            class="text-blue-500 underline"
            >dash camera calibration</a
          >
          <p>
            wrote a from scratch lane detection algorithm to evaluate pitch and
            yaw offset of a dash camera’s direction relative to the vehicle’s
            motion vector.
          </p>
        </li>
        <li>
          <a
            href="https://balance.chaserensberger.com"
            class="text-blue-500 underline"
            >balance</a
          >
          <p>a personal finance app powered by nextjs and supabase.</p>
        </li>
        <li>
          <a
            href="https://apps.apple.com/us/app/calculator-for-vision-pro/id6477305868"
            class="text-blue-500 underline"
            >visionOS calculator</a
          >
          <p>
            a native feeling calculator app I built for the apple vision pro. i
            can't tell you much about what it's like to use it because I don't
            own one but I am thankful to all the people who have purchased it.
          </p>
        </li>
        <li>
          <a href="https://hackpsu.org" class="text-blue-500 underline"
            >hackpsu frontend</a
          >
          <p>
            i built most of the existing infrastructure of the hackpsu site. it
            was a ground up rebuild to make the entire site more customizable
            and make transitioning between hackathon themes easier.
          </p>
        </li>

        <li>
          <a href="https://www.avt.psu.edu" class="text-blue-500 underline"
            >penn state's advanced vehicle team</a
          >
          <p>
            i worked on the vehicle dynamics team. we were responsible for
            designing car decision algorithms and state machines and integrating
            those designs into the car's infrastructure. i pretty much worked on
            everything though, from the primary ros architecture and can bus
            communication to completely redesigning our lane following algorithm
            the night before the competition. we placed 3/10 the year i was
            there which was up from 9/10 the year before.
          </p>
        </li>

        <li>
          <a
            href="https://github.com/ChaseRensberger/hdmaps-simulation"
            class="text-blue-500 underline"
          >
            hd maps simulation
          </a>
          <p>
            from when I was a part of penn state's autonomous vehicle team. we
            used this to simulate various driving algorithms. probably won't
            ever put a demo up for this because i no longer have access to the
            data.
          </p>
        </li>
        <li>
          <a
            href="https://jeopardy-three.vercel.app"
            class="text-blue-500 underline"
          >
            jeopardy trainer
          </a>
          <p>
            i used this to help train my girlfriend's mom before she went on to
            win a game of jeopardy.
          </p>
        </li>
        <li>
          <a
            href="https://github.com/ChaseRensberger/KMeansPlusPlus"
            class="text-blue-500 underline"
          >
            kmeans++
          </a>
          <p>
            a python3 implementation of the k-means++ algorithm, a commonly used
            unsupervised machine learning clustering algorithm.
          </p>
        </li>
        <li>
          <a
            href="https://flashcards-indol-theta.vercel.app"
            class="text-blue-500 underline"
          >
            learnedleague flashcards
          </a>
          <p>
            i scraped all learnedleague questions and uploaded them to a little
            flashcard app.
          </p>
        </li>
        <li>
          <a
            href="https://github.com/ChaseRensberger/stellarai"
            class="text-blue-500 underline"
          >
            stellarai job finder
          </a>
          <p>
            this is a deprecated project which served as stellarai's submission
            to the 2021-2022 nittany ai challenge. it is a tool targeted at new
            grads within computer science, data science, & other technical
            fields and aims to assist in the job finding and matching process.
          </p>
        </li>
        <li>
          <a
            href="https://github.com/ChaseRensberger/MobileDeviceKeyboard"
            class="text-blue-500 underline"
          >
            mobile device keyboard
          </a>
          <p>
            swing gui application for the purpose of showcasing a text
            autocomplete algorithm.
          </p>
        </li>
        <li>
          <a
            href="https://github.com/ChaseRensberger/QuiteLive"
            class="text-blue-500 underline"
          >
            quitelive
          </a>
          <p>
            pennapps 2019 Project that uses dash x11 to verify video
            authenticity.
          </p>
        </li>
      </ol>
    </section>
  </body>
</html>
